@charset "UTF-8";

/*Garnet Background*/
body {
  background-repeat: no-repeat;
  background-color: #5F2D38;

  /*
  background-image: url('https://i.imgur.com/FmyiR9X.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
  */
}

/*PlaceHolder text inside search bar*/
.searchBar{
  font-family: bebas-neue-by-fontfabric, sans-serif;
  align-content: center;
  text-align: center;
}

/*Header used in cards*/
h1 {
  background-size: cover;
  margin-top: 1.875vw;
  margin-bottom: 0vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.944vw;
  color:#5F2D38;/*#EAE3D1;*/
  text-align: center;
}

/*Header used in top logo*/
h2 {
  background-size: cover;
  margin-top: 1.875vw;
  margin-bottom: 5vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.944vw;
  color: #EAE3D1;
  text-align: center;
}


/*Paragraph attribute used when listing skills*/
p {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  color: #5F2D38;
  font-style: normal;
}

/*Input for search bar styling*/
#myInput {
  text-align: left;
  align-content: center;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  width: 37%; /* Full-width */
  font-size: 2.22vw; /* Increase font-size */
  padding: .833vw .833vw .833vw 1.5vw; /* Add some padding */
  border: .069vw solid #ddd; /* Add a grey border */
  /*margin-bottom: .833vw; /* Add some space below the input */
  border-radius: 0.694vw;
}

/*Cards*/
.card {
  border-radius: 0.694vw;
  box-shadow: 0 0.278vw 0.556vw 0 rgba(0, 0, 0, 0.2);
  width: 25%;
  height: 5%;
  max-width: 27.778vw;
  max-height: 34.722vw;
  margin-left: 6vw;
  margin-top: 2vw; /*NOTES*/
  margin-bottom: 2vw;
  padding-top: .2vw;
  padding-bottom: .2vw;
  background: #EAE3D1;
  padding-left: .25rem;
}

/*User Name... Derivative of h1 when implemented*/
.name {
  margin-bottom:-1.389vw;
  margin-left: 2.431vw;
  text-align: left;
  color: #5F2D38;
  font-size: 3.472vw;
}

/*User email address*/
.email {
  margin-left: 2.569vw;
  line-height: 0px;
  padding: 0px;
  color: #5F2D38;
  font-size: 2.083vw;
}

/*Skills section "header"*/
.skillsHead {
  margin-left: 2.569vw;
  padding-top: .4vw;
  color: #5F2D38;
  font-size: 2.431vw;
  margin-bottom:-0.694vw;
}

/*Items in the skills area*/
.skillsArr{
  margin-left: -0.347vw;
  line-height: 0.347vw;
  color: #5F2D38;
  font-size: 1.736vw;
}

/*Unordered list reference*/
ul{
  list-style-type: none;
}

/*Gives round edges*/
.round {
  border-radius: 0.694vw;
}

/*Container for cards in order to use flexbox*/
.cards-container {
  width:100%;
  display: flex;
  flex-flow: wrap;
}

/*Defines "show" attribute for search bar functionality*/
.show {display: block;}

.login {

  margin-left: 3.5vw;
  margin-right: 2vw;
  line-height: 2.3vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  color: #EAE3D1;
}

.loginbox{
  border-radius: 0.694vw;
  box-shadow: 0 0.278vw 0.556vw 0 rgba(0, 0, 0, 0.2);
  width: 25%;
  height: 5%;
  max-width: 27.778vw;
  max-height: 34.722vw;
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

}

.inputBox {
  margin-left: 5vw;
  margin-top: 2vh;
  width: 20vw;
  height: 4vh;

}

.signupbox{
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 13.2%;
  border-radius: 0.45vw;
  margin-bottom: 1.3vw;
  margin-top: .2vw;
  height: 2.5vw;
  font-size:  1.8vw;
  padding-left: .5vw;
  align-content: center;
  text-align: left;
}

legend{
  display: block;
  text-align: center;
  width: fit-content;
  line-height: 2vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-size: 3vw;
  color: #EAE3D1;
  padding: 0 5px;
}

fieldset {
  border: 1px solid #EAE3D1;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  margin-top: 4vw;
}

.skills
{

}

input[type=checkbox] {
  width: 2vw;
}

#parent {
  display: inline-block;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  color:lightgray;
  font-size: 2.4vw;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
#narrow {
  /*float:left;
  text-align: center;
  /*width: 200px;*/

  /* Just so it's visible */
}
#wide {
  width: 200px;
  /* Grow to rest of container */

  /* Just so it's visible */
}

/*Wraps button*/
.buttonWrapper {
  text-align: center;
  margin-top: 6.5vw;

}
/*CSS Buttons for launch page*/
.customButton
{
  font-family: bebas-neue-by-fontfabric, sans-serif;
  border-radius: 0.694vw;
  background-color: #EAE3D1;
  border: none;
  color: #5F2D38;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vw;
  width: 16.771vw;
  height: 7.083vw;
}

.customButton:hover
{
  color: #EAE3D1;
  background-color: #5F2D38;

}

/*Custom Div setup for left side of launch page*/
.leftDiv
{
  width: 40vw;
  height: 100vh;
 /* display: flex;
  justify-content: center;*/
}

/*Used to center Innovation Hub logo found at the center of the left side of the launch page*/ 
.hubLogo
{
  max-width: 25vw;
  margin-left: 14.583vw;
  margin-top: 24.963vh;
}

.rightDiv
{
  width: 60vw;
  height: 100vh;
  margin-right: 0vw;
}

/*Flex component that aligns the divs from left to right*/
.bothDivs
{
  display: flex;
  align-items: flex-start;
}

/*Sign Up/Sign In Box
This contains info, set min height to allow growth
flex auto*/
.signUpOrIn
{
  background-color: #EAE3D1;
  width: 40vw;
  min-height: 80vh;
  margin-left: 10vw;
  margin-top: 10vh;
  border-radius: 0.694vw;
  flex: auto;
  padding-bottom: 5vh;
  margin-bottom: 10vh;
}

/*Sign Up/Sign In box Text*/
h4
{
  padding-top: 3vh;
  background-size: cover;
  margin-bottom: 0vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  color:#5F2D38;/*#EAE3D1;*/
  text-align: center;
}

.information
{
  /*background-color: white;*/
  width: 30vw;
  min-height: 60vh;
  margin-top: 0vh;
  margin-left: 5vw;
  overflow:auto;
  /*display: flex;
  justify-content: flex-start;*/
}

.informationWrap
{
  display: flex;
  align-items: row-reverse;
}

.trial
{
  width: 30vw;
  margin-left: 4.5vw;
  /*flex-direction: column;*/
}

.select_text{
  font-size: 1vw !important;
}

.MuiInput-underline{
  width: 20vw;
}

.inputBox_existing {
  margin-left: 5vw;
  margin-top: 2vh;
  width: 20vw;
  height: 4vh;

}


