@charset "UTF-8";


/*Garnet Background*/
body {
  background-repeat: no-repeat;
  background-color: #5F2D38;
}

/*PlaceHolder text inside search bar*/
.searchBar{
  font-family: bebas-neue-by-fontfabric, sans-serif;
  align-content: center;
  text-align: center;
}

/*Header used in cards*/
h1 {
  background-size: cover;
  margin-top: 1.875vw;
  margin-bottom: 0vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.944vw;
  color:#5F2D38;/*#EAE3D1;*/
  text-align: center;
}

/*Header used in top logo*/
h2 {
  background-size: cover;
  margin-top: 1.875vw;
  margin-bottom: 5vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.944vw;
  color: #EAE3D1;
  text-align: center;
}

/*Header used elsewhere, has different margin settings than h2*/
h3 {
  background-size: cover;
  margin-top: 0vh;
  margin-bottom: 0vh;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.944vw;
  color: #EAE3D1;
  text-align: center;
}

/*Sign Up/Sign In box Text*/
h4
{
  padding-top: 3vh;
  background-size: cover;
  margin-bottom: 0vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  color:#5F2D38;
  text-align: center;
  margin-top: 2vh;
}

/*The text used above the search bar*/
.textAboveSearch
{
  background-size: cover;
  margin-top: 10vh;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.2vw;
  color: #EAE3D1;
  text-align: center;
  margin-bottom: .1vh;
}

/*CreatorConnect logo on the pop up modals*/
.modalLogo
{
  background-size: cover;
  margin-top: 0vh;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.2vw;
  color: #5F2D38;
  text-align: center;
  padding: 0;
  margin: 0;
}

/*container for text inside modals*/
.modalText
{
  margin: 0vh;
  margin-left: 16vw;
  width: 60vw;
  height: 50vh;
}

/*Text inside of modals*/
.modalText p {
  font-size: 2.2vw;
  padding: 0;
  margin: 0;
}

/*Button inside modal*/
.modalBtn button
{
  width: 7vw;
  padding: .25vw;
  border-radius: .5vw;
  font-size: 2vw;
  color: #EAE3D1;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #5F2D38;
}

/*Hover-over for button inside modal*/
.modalBtn button:hover
{
  width: 7vw;
  padding: .25vw;
  border-radius: .5vw;
  font-size: 2vw;
  color: #5F2D38;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #EAE3D1;
}

/*Button click css for modal buttons*/
.modalBtn button:active
{
  width: 7vw;
  padding: .25vw;
  border-radius: .5vw;
  font-size: 2vw;
  color: #5F2D38;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #EAE3D1;
}

/*Paragraph attribute used when listing skills*/
p {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  color: #5F2D38;
  font-style: normal;
}

/*Input for search bar styling*/
#myInput {
  text-align: left;
  align-content: center;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  width: 37%; /* Full-width */
  font-size: 2.22vw; /* Increase font-size */
  padding: .833vw .833vw .833vw 1.5vw; /* Add some padding */
  border: .069vw solid #ddd; /* Add a grey border */
  border-radius: 0.694vw;
}

/*Cards*/
.card {
  border-radius: 0.694vw;
  box-shadow: 0 0.278vw 0.556vw 0 rgba(0, 0, 0, 0.2);
  width: 25%;
  height: 5%;
  max-width: 27.778vw;
  max-height: 36vw;
  margin-left: 6vw;
  margin-top: 2vw; /*NOTES*/
  margin-bottom: 2vw;
  padding-top: .2vw;
  padding-bottom: .2vw;
  background: #EAE3D1;
  padding-left: .25rem;
}

/*User Name... Derivative of h1 when implemented*/
.name {
  margin-bottom:-1.389vw;
  margin-left: 2.431vw;
  text-align: left;
  color: #5F2D38;
  font-size: 3.472vw;
}

/*User email address*/
.email {
  margin-left: 2.569vw;
  line-height: 0px;
  padding: 0px;
  color: #5F2D38;
  font-size: 2.083vw;
}

/*Skills section "header"*/
.skillsHead {
  margin-left: 2.569vw;
  padding-top: .4vw;
  color: #5F2D38;
  font-size: 2.431vw;
  margin-bottom:-0.694vw;
}

/*Items in the skills area*/
.skillsArr{
  margin-left: -0.347vw;
  line-height: 0.347vw;
  color: #5F2D38;
  font-size: 1.736vw;
}

/*Unordered list reference*/
ul{
  list-style-type: none;
}

/*Gives round edges*/
.round {
  border-radius: 0.694vw;
}

/*Container for cards in order to use flexbox*/
.cards-container {
  margin-top: 1vh;
  width:100%;
  display: flex;
  flex-flow: wrap;
}

/*Defines "show" attribute for search bar functionality*/
.show {display: block;}

/*Input boxes for sign up page*/
.inputBox {
  margin-left: 5vw;
  margin-top: 2vh;
  width: 20vw;
  height: 4vh;
}

/*this is so  there is no extra space around the html or body components*/
html,body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin:0;
  padding:0;
}

/*width of inputs on form*/
input[type=checkbox] {
  width: 2vw;
}

/*Custom Div setup for left side of launch page*/
.leftDiv
{
  width: 40vw;
  height: 100vh;
}

/*Used to center Innovation Hub logo found at the center of the left side of the launch page*/
.hubLogo
{
  max-width: 25vw;
  margin-left: 14.583vw;
  margin-top: 24.963vh;
}

/*Custom Div setup for right side of launch page*/
.rightDiv
{
  width: 60vw;
  height: 100vh;
  margin-right: 0vw;
}

/*Flex component that aligns the divs from left to right*/
.bothDivs
{
  display: flex;
  align-items: flex-start;
}

/*Sign Up/Sign In Box
This contains info, set min height to allow growth
flex auto*/
.signUpOrIn
{
  background-color: #EAE3D1;
  width: 40vw;
  min-height: 80vh;
  margin-left: 10vw;
  margin-top: 5vh;
  border-radius: 0.694vw;
  flex: auto;
  padding-bottom: 5vh;

}

/*The CreatorConnect logo inside of the sign up/log in form*/
.launchText
{
  padding-top: 3vh;
  background-size: cover;
  margin-bottom: 0vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  color:#5F2D38;/*#EAE3D1;*/
  text-align: center;
  margin-top: 2vh;
}

/*centers the form*/
.information
{
  width: 30vw;
  min-height: 60vh;
  margin-top: 0vh;
  margin-left: 5vw;
}

/*centers the dropdown menus*/
.dropdown
{
  width: 20.5vw;
  margin-left: 2.5vw;
  margin-top: 1vh;
}

/*navigation bar at the top of the page*/
 .topnav {
  position: absolute;
  width: 100vw;
  top: 0;
  overflow: none;
  background-color: #d3d3d3;
  font-family: bebas-neue-by-fontfabric, sans-serif;
}

@media only screen and (max-width: 416px)
{

  html,body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin:0;
    padding:0;
  }
  .leftDiv
  {
    display:none !important;
  }

  .signUpOrIn
  {
    background-color: #EAE3D1;
    width: 80vw;
    min-height: 80vh;
    margin-left: 10vw;
    margin-top: 5vh;
    border-radius: 0.694vw;
    flex: auto;
    padding-bottom: 5vh;
  }

  .inputBox
  {
    margin-top: 2vw;
    display: block;
    width: 57vw !important;
  }

  .dropdown
  {
    width: 50.5vw !important;
    margin-left: 2.5vw;
    margin-top: 1vh;
}
  .logout {
    float: right;
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-size: 3.4vh;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: .25vh;
    color: #5F2D38;
    margin-top: 2vh;
    padding-top: 0vh;
    padding-right: .75vw;
    padding-left: .75vw;
  }

  .topnav {
   position: absolute;
   width: 100vw;
   top: 0;
   overflow: none;
   background-color: #d3d3d3;
   font-family: bebas-neue-by-fontfabric, sans-serif;
  }

/*container for the left component of the navigation bar*/
.leftNavBar {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-size: 3.4vh !important;
  width: 33.33% !important;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  color: #5F2D38;
  padding: 0vw;
  margin-left: 0vw;
  padding-right: 0vw;
  padding-left: 0vw;
}

.about {
  padding-top: 2vw !important;
  padding-right: 15vw !important;

}
.feedback{
padding-left:10vw !important;

}
.wnext{

  display: inline;
  white-space: nowrap;
  overflow: none !important;

  }

/*The text used above the search bar*/
.textAboveSearch
{
  background-size: cover;
  margin-top: 12vh;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13vw;
  color: #EAE3D1;
  text-align: center;
  margin-bottom: .1vh;
}

/*Input for search bar styling*/
#myInput {
  text-align: left;
  align-content: center;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  width: 78%; /* Full-width */
  height: 4vh;
  font-size: 5vw; /* Increase font-size */
  padding: .833vw qvw .833vw .833vw;/* Add some padding */
  border: .069vw solid #ddd; /* Add a grey border */
  border-radius: 0.694vw;
}

/*Cards*/
.card {
  border-radius: 0.694vw;
  box-shadow: 0 0.278vw 0.556vw 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 10%;
  max-width: 36vw;
  max-height: 60vw;
  margin-left: 6vw;
  margin-top: 2vw; /*NOTES*/
  margin-bottom: 2vw;
  padding-top: .2vw;
  padding-bottom: .2vw;
  background: #EAE3D1;
  padding-left: .25rem;
}

.cards-container {
  margin-left: 4vw;
  width:100%;
  display: flex;
  flex-flow: wrap;
}

.name {
  margin-bottom:-1.389vw;
  margin-left: 2.431vw;
  margin-right: 1vw;
  text-align: left;
  color: #5F2D38;
  font-size: 7vw;
}

/*User email address*/
.email {
  margin-right: 2vw;
  margin-left: 2.569vw;
  line-height: 0px;
  padding: 0px;
  color: #5F2D38;
  font-size: 4.784vw;
}

/*Skills section "header"*/
.skillsHead {
  margin-left: 2.569vw;
  padding-top: .4vw;
  color: #5F2D38;
  font-size: 5.6vw;
  margin-bottom:-0.694vw;
}

ul{
  margin: 0vw;
  list-style-type: none;
}

/*Items in the skills area*/
.skillsArr{
  margin-left: -7vw;
  line-height: 0.347vw;
  color: #5F2D38;
  font-size: 4vw;
  margin-bottom: 1vh;
}


/*CreatorConnect logo on the pop up modals*/
.modalLogo
{
  background-size: cover;
  margin-top: 0vh;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11.5vw;
  color: #5F2D38;
  text-align: center;
  padding: 0;
  margin: 0;
}

/*container for text inside modals*/
.modalText
{
  margin-top: .5vh;
  margin-left: 1vw;
  width: 60vw;
  height: 50vh;
}

/*Text inside of modals*/
.modalText p {
  font-size: 5.8vw;
  padding: 0;
  margin: 0;
}

/*Button inside modal*/
.modalBtn button
{
  width: 15vw;
  height: 6vh;
  padding: .25vw;
  border-radius: 1vw;
  font-size: 6vw;
  margin-left: 0vw;
  margin-top: 0vh;
  margin-bottom: 1vh;
  color: #EAE3D1;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #5F2D38;
}

/*Hover-over for button inside modal*/
.modalBtn button:hover
{
  width: 7vw;
  padding: .25vw;
  border-radius: .5vw;
  font-size: 2vw;
  color: #5F2D38;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #EAE3D1;
}

/*Button click css for modal buttons*/
.modalBtn button:active
{
  width: 7vw;
  padding: .25vw;
  border-radius: .5vw;
  font-size: 2vw;
  color: #5F2D38;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #EAE3D1;
}

/*determines size of team picture on the team tab*/
.teamPics {
  margin-top: 5vh;
  max-width:100%;
  max-height:100%;
}
/*END OF MEDIA */
}

@media only screen and (max-width: 1136px) and (min-width: 416px)
{
  html,body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin:0;
    padding:0;
  }
  .topnav {
   position: absolute;
   width: 100vw;
   top: 0;
   overflow: none;
   background-color: #d3d3d3;
   font-family: bebas-neue-by-fontfabric, sans-serif;
  }

/*container for the left component of the navigation bar*/
.leftNavBar {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-size: 4vh;
  width: 33.33%;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  color: #5F2D38;
  padding: 0vw;
  margin-left: 0vw;
  padding-right: 0vw;
  padding-left: 0vw;
}

.about {
  padding-top: 2vw !important;
  padding-right: 15vw !important;

}
.feedback{

  justify-content: center !important;
  padding-right: 6vw !important;
  width: 40%;

}
.wnext{

  display: inline;
  width: 40%;
  white-space: nowrap;
  justify-content: center !important;
  padding-right: 26vw !important;
  }


/*The text used above the search bar*/
.textAboveSearch
{
  background-size: cover;
  margin-top: 15vh;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  color: #EAE3D1;
  text-align: center;
  margin-bottom: .1vh;
}

/*Input for search bar styling*/
#myInput {
  text-align: left;
  align-content: center;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  width: 60%; /* Full-width */
  height: 3vh;
  font-size: 3vw; /* Increase font-size */
  padding: .833vw .833vw .833vw .833vw;/* Add some padding */
  border: .069vw solid #ddd; /* Add a grey border */
  border-radius: 0.694vw;
}

/*Cards*/
.card {
  border-radius: 0.694vw;
  box-shadow: 0 0.278vw 0.556vw 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 10%;
  max-width: 27.778vw;
  max-height: 36vw;
  margin-left: 6vw;
  margin-top: 2vw; /*NOTES*/
  margin-bottom: 2vw;
  padding-top: .2vw;
  padding-bottom: .2vw;
  background: #EAE3D1;
  padding-left: .25rem;
}

.cards-container {
  margin-left: 12vw;
  width:100%;
  display: flex;
  flex-flow: wrap;
}

.name {
  margin-bottom:-1.389vw;
  margin-left: 2.431vw;
  margin-right: 1vw;
  text-align: left;
  color: #5F2D38;
  font-size: 5vw;
}

/*User email address*/
.email {
  margin-right: 1vw;
  margin-left: 2.569vw;
  line-height: 0px;
  padding: 0px;
  color: #5F2D38;
  font-size: 2.99vw;
}

/*Skills section "header"*/
.skillsHead {
  margin-left: 2.569vw;
  padding-top: .4vw;
  color: #5F2D38;
  font-size: 3.5vw;
  margin-bottom:-0.694vw;
}

/*Items in the skills area*/
.skillsArr{
  margin-left: -0.347vw;
  line-height: 0.347vw;
  color: #5F2D38;
  font-size: 2.5vw;
  margin-bottom: 1vh;
}

/*CreatorConnect logo on the pop up modals*/
.modalLogo
{
  background-size: cover;
  margin-top: 0vh;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  color: #5F2D38;
  text-align: center;
  padding: 0;
  margin: 0;
}

/*container for text inside modals*/
.modalText
{
  margin: 0vh;
  margin-left: 14vw;
  width: 60vw;
  height: 50vh;
}

/*Text inside of modals*/
.modalText p {
  font-size: 4.5vw;
  padding: 0;
  margin: 0;
}

/*Button inside modal*/
.modalBtn button
{
  width: 10vw;
  height: 5vh;
  padding: .25vw;
  border-radius: .5vw;
  font-size: 4vw;
  margin-left: 2vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: #EAE3D1;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #5F2D38;
}

/*Hover-over for button inside modal*/
.modalBtn button:hover
{
  width: 7vw;
  padding: .25vw;
  border-radius: .5vw;
  font-size: 2vw;
  color: #5F2D38;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #EAE3D1;
}

/*Button click css for modal buttons*/
.modalBtn button:active
{
  width: 7vw;
  padding: .25vw;
  border-radius: .5vw;
  font-size: 2vw;
  color: #5F2D38;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  background-color: #EAE3D1;
}

/*determines size of team picture on the team tab*/
.teamPics {
  margin-top: 5vh;
  max-width:100%;
  max-height:100%;
}

}

/*link component for navigation bar at the top of the page*/
.topnav a {
  color: #5F2D38;
  text-align: center;
  padding: .5vh;
  padding-top: 0;
  text-decoration: none;
}

/*hover over component for link component of the navigation bar*/
.topnav a:hover {
  background-color: #B5C2B7;
  color: black;
  height: 90%;
}

/*active component for link component of the navigation bar*/
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/*hover over component for button component of the navigation bar*/
.topnav button:hover {
  background-color: #B5C2B7;
  color: black;
  height: 7.5vh;
}

/*active component for button component of the navigation bar*/
.topnav button.active {
  background-color: #4CAF50;
  color: white;
}

/*div component of navigation bar*/
.topNav div {
  margin-left: 10vw;
}

/*logout component of navigation bar*/
.logout {
  float: right;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-size: 5vh;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding: .25vh;
  color: #5F2D38;
  margin-top: 2vh;
  padding-top: 0vh;
  padding-right: .75vw;
  padding-left: .75vw;
}

/*wraps the form so the extra space at the top is not noticable*/
.formWrap{
  background-color: #EAE3D1;
}

/*determines size of team picture on the team tab*/
.teamPics {
  max-width:100%;
  max-height:100%;
}

/*container for the left component of the navigation bar*/
.leftNavBar {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-size: 5vh;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding: .25vh;
  color: #5F2D38;
  padding-top: 0vh;
  margin-left: 0vw;
  padding-right: .75vw;
  padding-left: .75vw;
}
