apispec==3.0.0
astroid==2.2.5
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
Django==2.2.5
dnspython==1.15.0
dnspython3==1.15.0
et-xmlfile==1.0.1
Flask==1.1.1
flask-apispec==0.8.3
Flask-Cors==3.0.8
Flask-PyMongo==2.3.0
idna==2.8
isort==4.3.20
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
marshmallow==3.2.0
mccabe==0.6.1
openpyxl==2.6.2
pushbullet.py==0.11.0
PushbulletPythonLibrary==2.3
pymongo==3.8.0
python-magic==0.4.15
pytz==2019.2
requests==2.22.0
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.3
webargs==5.5.1
websocket-client==0.56.0
Werkzeug==0.15.6
winkerberos==0.7.0
wrapt==1.11.2
